.layer1 {
  position: fixed;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-shadow: 86vw 3vh #fff, 28vw 21vh #fff, 38vw 32vh #fff, 37vw 65vh #fff,
    8vw 11vh #fff, 59vw 87vh #fff, 66vw 92vh #fff, 29vw 61vh #fff,
    65vw 81vh #fff, 89vw 64vh #fff, 76vw 11vh #fff, 25vw 68vh #fff,
    53vw 20vh #fff, 4vw 28vh #fff, 85vw 59vh #fff, 31vw 15vh #fff,
    83vw 39vh #fff, 67vw 98vh #fff, 20vw 9vh #fff, 47vw 27vh #fff,
    59vw 44vh #fff, 23vw 28vh #fff, 18vw 12vh #fff, 64vw 72vh #fff,
    47vw 60vh #fff, 33vw 85vh #fff, 43vw 35vh #fff, 52vw 80vh #fff,
    57vw 64vh #fff, 58vw 25vh #fff, 100vw 98vh #fff, 75vw 80vh #fff,
    84vw 32vh #fff, 9vw 9vh #fff, 63vw 29vh #fff, 57vw 62vh #fff, 84vw 85vh #fff,
    58vw 62vh #fff, 94vw 55vh #fff, 67vw 27vh #fff, 53vw 35vh #fff,
    96vw 62vh #fff, 6vw 21vh #fff, 13vw 98vh #fff, 5vw 73vh #fff, 11vw 56vh #fff,
    1vw 16vh #fff, 4vw 95vh #fff, 62vw 24vh #fff, 22vw 44vh #fff, 31vw 58vh #fff,
    11vw 70vh #fff, 5vw 81vh #fff, 74vw 19vh #fff, 10vw 49vh #fff,
    65vw 31vh #fff, 89vw 47vh #fff, 87vw 94vh #fff, 44vw 85vh #fff,
    91vw 27vh #fff, 33vw 47vh #fff, 29vw 51vh #fff, 96vw 44vh #fff,
    91vw 20vh #fff, 65vw 64vh #fff, 74vw 81vh #fff, 14vw 32vh #fff,
    51vw 17vh #fff, 80vw 56vh #fff, 78vw 53vh #fff, 3vw 27vh #fff,
    71vw 98vh #fff, 2vw 44vh #fff, 4vw 74vh #fff, 88vw 99vh #fff, 47vw 79vh #fff,
    44vw 47vh #fff, 13vw 70vh #fff, 89vw 52vh #fff, 51vw 8vh #fff,
    81vw 89vh #fff, 41vw 90vh #fff, 31vw 26vh #fff, 79vw 34vh #fff,
    23vw 100vh #fff, 77vw 49vh #fff, 88vw 75vh #fff, 30vw 3vh #fff,
    96vw 51vh #fff, 100vw 88vh #fff, 11vw 68vh #fff, 77vw 70vh #fff,
    66vw 93vh #fff, 56vw 24vh #fff, 25vw 40vh #fff, 23vw 60vh #fff,
    74vw 26vh #fff, 93vw 47vh #fff, 45vw 15vh #fff, 44vw 66vh #fff,
    91vw 33vh #fff, 71vw 3vh #fff, 54vw 8vh #fff, 86vw 56vh #fff, 98vw 45vh #fff,
    97vw 53vh #fff, 56vw 94vh #fff, 8vw 94vh #fff, 37vw 50vh #fff,
    29vw 36vh #fff, 19vw 69vh #fff, 93vw 77vh #fff, 93vw 100vh #fff,
    22vw 57vh #fff, 75vw 11vh #fff, 73vw 3vh #fff, 54vw 66vh #fff,
    84vw 52vh #fff, 20vw 40vh #fff, 72vw 25vh #fff, 91vw 14vh #fff,
    77vw 65vh #fff, 33vw 100vh #fff, 15vw 70vh #fff, 34vw 31vh #fff,
    11vw 76vh #fff, 1vw 12vh #fff, 68vw 69vh #fff, 80vw 77vh #fff,
    52vw 100vh #fff, 61vw 48vh #fff, 37vw 43vh #fff, 47vw 42vh #fff,
    53vw 28vh #fff, 92vw 53vh #fff, 15vw 15vh #fff, 31vw 98vh #fff,
    42vw 13vh #fff, 65vw 35vh #fff, 8vw 46vh #fff, 1vw 81vh #fff, 18vw 12vh #fff,
    23vw 15vh #fff, 96vw 64vh #fff, 68vw 9vh #fff, 10vw 88vh #fff,
    26vw 68vh #fff, 39vw 93vh #fff, 68vw 42vh #fff, 48vw 39vh #fff,
    87vw 23vh #fff, 20vw 81vh #fff, 83vw 54vh #fff, 42vw 65vh #fff,
    82vw 89vh #fff, 100vw 34vh #fff, 76vw 55vh #fff, 36vw 80vh #fff,
    15vw 68vh #fff, 85vw 62vh #fff, 25vw 35vh #fff, 16vw 25vh #fff,
    39vw 96vh #fff, 83vw 10vh #fff, 25vw 61vh #fff, 1vw 63vh #fff,
    12vw 84vh #fff, 62vw 58vh #fff, 42vw 40vh #fff, 26vw 56vh #fff,
    39vw 51vh #fff, 83vw 23vh #fff, 7vw 81vh #fff, 21vw 6vh #fff, 23vw 33vh #fff,
    19vw 30vh #fff, 21vw 44vh #fff, 15vw 44vh #fff, 5vw 87vh #fff,
    97vw 20vh #fff, 89vw 8vh #fff, 73vw 21vh #fff, 100vw 30vh #fff,
    40vw 38vh #fff, 29vw 67vh #fff, 74vw 95vh #fff, 56vw 97vh #fff,
    30vw 95vh #fff, 21vw 85vh #fff, 82vw 15vh #fff, 74vw 34vh #fff,
    3vw 82vh #fff, 83vw 63vh #fff, 6vw 21vh #fff, 74vw 44vh #fff, 5vw 8vh #fff,
    17vw 28vh #fff, 75vw 58vh #fff, 28vw 60vh #fff, 100vw 28vh #fff,
    93vw 89vh #fff, 79vw 93vh #fff, 28vw 88vh #fff, 66vw 78vh #fff,
    56vw 28vh #fff, 85vw 32vh #fff, 20vw 25vh #fff, 23vw 63vh #fff,
    79vw 72vh #fff, 11vw 76vh #fff, 15vw 81vh #fff, 8vw 88vh #fff,
    15vw 17vh #fff, 49vw 69vh #fff, 93vw 4vh #fff, 97vw 59vh #fff,
    80vw 49vh #fff, 19vw 4vh #fff, 71vw 37vh #fff, 17vw 62vh #fff,
    25vw 10vh #fff, 32vw 97vh #fff, 15vw 63vh #fff, 30vw 3vh #fff,
    42vw 49vh #fff, 58vw 25vh #fff, 14vw 84vh #fff, 88vw 45vh #fff,
    40vw 20vh #fff, 100vw 81vh #fff, 95vw 79vh #fff, 72vw 29vh #fff,
    36vw 91vh #fff, 76vw 99vh #fff, 62vw 68vh #fff, 37vw 63vh #fff,
    55vw 24vh #fff, 74vw 10vh #fff, 98vw 14vh #fff, 70vw 63vh #fff,
    73vw 12vh #fff, 45vw 71vh #fff, 66vw 78vh #fff, 43vw 21vh #fff,
    53vw 50vh #fff, 83vw 5vh #fff, 21vw 61vh #fff, 46vw 68vh #fff,
    50vw 89vh #fff, 95vw 40vh #fff, 48vw 71vh #fff, 57vw 36vh #fff,
    48vw 31vh #fff, 3vw 10vh #fff, 64vw 49vh #fff, 71vw 54vh #fff, 1vw 26vh #fff,
    7vw 54vh #fff, 64vw 53vh #fff, 82vw 64vh #fff, 92vw 64vh #fff, 5vw 95vh #fff,
    75vw 67vh #fff, 82vw 78vh #fff, 59vw 32vh #fff, 36vw 100vh #fff,
    46vw 28vh #fff, 93vw 7vh #fff, 55vw 11vh #fff, 48vw 29vh #fff, 12vw 3vh #fff,
    21vw 80vh #fff, 34vw 24vh #fff, 58vw 92vh #fff, 67vw 2vh #fff,
    94vw 10vh #fff, 19vw 9vh #fff, 36vw 49vh #fff, 98vw 3vh #fff, 29vw 94vh #fff,
    80vw 74vh #fff, 95vw 9vh #fff, 35vw 25vh #fff, 76vw 87vh #fff,
    95vw 73vh #fff, 80vw 16vh #fff, 51vw 9vh #fff, 9vw 11vh #fff, 84vw 63vh #fff,
    72vw 69vh #fff, 79vw 38vh #fff, 32vw 98vh #fff, 10vw 88vh #fff,
    76vw 57vh #fff, 14vw 46vh #fff, 71vw 62vh #fff, 20vw 32vh #fff,
    7vw 80vh #fff, 100vw 31vh #fff, 30vw 58vh #fff, 55vw 52vh #fff,
    51vw 30vh #fff, 92vw 17vh #fff, 38vw 12vh #fff, 64vw 5vh #fff, 58vw 3vh #fff,
    78vw 64vh #fff, 2vw 45vh #fff, 73vw 20vh #fff, 84vw 69vh #fff,
    91vw 96vh #fff, 23vw 51vh #fff, 56vw 32vh #fff, 22vw 37vh #fff,
    64vw 61vh #fff, 16vw 15vh #fff, 53vw 62vh #fff, 12vw 99vh #fff,
    30vw 24vh #fff, 75vw 57vh #fff, 64vw 78vh #fff, 96vw 75vh #fff,
    59vw 62vh #fff, 22vw 11vh #fff, 7vw 83vh #fff, 78vw 77vh #fff,
    60vw 75vh #fff, 81vw 10vh #fff, 70vw 3vh #fff, 75vw 91vh #fff,
    77vw 26vh #fff, 89vw 2vh #fff, 84vw 77vh #fff, 10vw 60vh #fff, 85vw 8vh #fff,
    20vw 24vh #fff, 34vw 97vh #fff, 65vw 37vh #fff, 66vw 45vh #fff,
    83vw 27vh #fff, 7vw 37vh #fff, 79vw 62vh #fff, 22vw 2vh #fff, 69vw 24vh #fff,
    4vw 21vh #fff, 32vw 57vh #fff, 13vw 24vh #fff, 92vw 81vh #fff,
    47vw 69vh #fff, 20vw 34vh #fff, 61vw 38vh #fff, 62vw 82vh #fff, 8vw 2vh #fff,
    98vw 33vh #fff, 43vw 39vh #fff, 78vw 2vh #fff, 49vw 74vh #fff,
    94vw 19vh #fff, 28vw 5vh #fff, 54vw 75vh #fff, 74vw 32vh #fff,
    93vw 99vh #fff, 66vw 34vh #fff, 80vw 49vh #fff, 8vw 3vh #fff, 46vw 66vh #fff,
    66vw 50vh #fff, 21vw 48vh #fff, 63vw 36vh #fff, 19vw 75vh #fff,
    27vw 74vh #fff, 23vw 64vh #fff, 9vw 87vh #fff, 80vw 84vh #fff, 72vw 2vh #fff,
    18vw 7vh #fff, 76vw 99vh #fff, 74vw 26vh #fff, 29vw 65vh #fff,
    14vw 93vh #fff, 55vw 22vh #fff, 72vw 76vh #fff, 82vw 95vh #fff,
    58vw 100vh #fff, 64vw 32vh #fff, 4vw 19vh #fff, 85vw 49vh #fff,
    89vw 26vh #fff, 16vw 5vh #fff, 98vw 56vh #fff, 100vw 82vh #fff,
    39vw 55vh #fff, 94vw 65vh #fff, 64vw 93vh #fff, 77vw 11vh #fff,
    52vw 43vh #fff, 35vw 16vh #fff, 92vw 65vh #fff, 6vw 50vh #fff,
    11vw 56vh #fff, 89vw 32vh #fff, 51vw 28vh #fff, 21vw 19vh #fff,
    2vw 91vh #fff, 33vw 37vh #fff, 70vw 97vh #fff, 11vw 84vh #fff, 12vw 9vh #fff,
    65vw 21vh #fff, 77vw 87vh #fff, 33vw 29vh #fff, 78vw 14vh #fff,
    56vw 5vh #fff, 66vw 71vh #fff, 53vw 54vh #fff, 18vw 91vh #fff,
    18vw 59vh #fff, 50vw 83vh #fff, 5vw 7vh #fff, 35vw 72vh #fff, 73vw 14vh #fff,
    39vw 29vh #fff, 53vw 47vh #fff, 70vw 94vh #fff, 89vw 89vh #fff,
    89vw 57vh #fff, 81vw 10vh #fff, 78vw 98vh #fff, 100vw 97vh #fff,
    10vw 53vh #fff, 25vw 58vh #fff, 4vw 48vh #fff, 91vw 28vh #fff,
    25vw 87vh #fff, 98vw 49vh #fff, 21vw 46vh #fff, 44vw 70vh #fff,
    59vw 37vh #fff, 48vw 55vh #fff, 21vw 69vh #fff, 93vw 17vh #fff,
    26vw 17vh #fff, 41vw 12vh #fff, 48vw 39vh #fff, 75vw 100vh #fff,
    22vw 58vh #fff, 69vw 41vh #fff, 21vw 63vh #fff, 90vw 27vh #fff,
    7vw 30vh #fff, 68vw 32vh #fff, 37vw 5vh #fff, 34vw 28vh #fff, 38vw 45vh #fff,
    58vw 53vh #fff, 64vw 43vh #fff, 31vw 57vh #fff, 87vw 48vh #fff,
    53vw 17vh #fff, 12vw 3vh #fff, 26vw 45vh #fff, 23vw 100vh #fff,
    65vw 84vh #fff, 98vw 24vh #fff, 69vw 85vh #fff, 78vw 52vh #fff,
    29vw 93vh #fff, 61vw 51vh #fff, 85vw 91vh #fff, 44vw 60vh #fff,
    14vw 14vh #fff, 26vw 59vh #fff, 35vw 12vh #fff, 9vw 95vh #fff,
    86vw 84vh #fff, 50vw 23vh #fff, 68vw 4vh #fff, 21vw 38vh #fff,
    24vw 41vh #fff, 13vw 99vh #fff, 88vw 95vh #fff, 76vw 18vh #fff,
    1vw 60vh #fff, 71vw 4vh #fff, 80vw 78vh #fff, 69vw 10vh #fff, 36vw 8vh #fff,
    11vw 35vh #fff, 45vw 22vh #fff, 98vw 45vh #fff, 60vw 65vh #fff,
    99vw 47vh #fff, 31vw 92vh #fff, 11vw 46vh #fff, 42vw 59vh #fff,
    12vw 33vh #fff, 80vw 9vh #fff, 27vw 60vh #fff, 65vw 51vh #fff, 8vw 2vh #fff,
    44vw 21vh #fff, 23vw 58vh #fff, 40vw 13vh #fff, 50vw 30vh #fff,
    11vw 21vh #fff, 31vw 77vh #fff, 32vw 78vh #fff, 2vw 91vh #fff,
    86vw 19vh #fff, 81vw 53vh #fff, 27vw 78vh #fff, 58vw 81vh #fff,
    42vw 62vh #fff, 24vw 100vh #fff, 67vw 12vh #fff, 41vw 22vh #fff,
    68vw 48vh #fff, 89vw 99vh #fff, 38vw 74vh #fff, 44vw 81vh #fff,
    3vw 33vh #fff, 38vw 12vh #fff, 18vw 98vh #fff, 68vw 59vh #fff,
    52vw 62vh #fff, 50vw 9vh #fff, 5vw 52vh #fff, 6vw 11vh #fff, 83vw 96vh #fff,
    29vw 87vh #fff, 99vw 61vh #fff, 29vw 91vh #fff, 52vw 80vh #fff,
    62vw 16vh #fff, 68vw 26vh #fff, 65vw 54vh #fff, 35vw 55vh #fff,
    26vw 39vh #fff, 27vw 97vh #fff, 64vw 31vh #fff, 56vw 29vh #fff,
    93vw 69vh #fff, 22vw 43vh #fff, 80vw 20vh #fff, 72vw 49vh #fff, 8vw 8vh #fff,
    94vw 78vh #fff, 88vw 97vh #fff, 2vw 41vh #fff, 57vw 39vh #fff,
    16vw 12vh #fff, 37vw 46vh #fff, 15vw 59vh #fff, 46vw 41vh #fff,
    50vw 6vh #fff, 95vw 26vh #fff, 57vw 36vh #fff, 77vw 79vh #fff,
    38vw 92vh #fff, 53vw 61vh #fff, 23vw 58vh #fff, 9vw 7vh #fff, 22vw 5vh #fff,
    33vw 23vh #fff, 29vw 87vh #fff, 65vw 30vh #fff, 17vw 96vh #fff,
    16vw 67vh #fff, 96vw 46vh #fff, 8vw 35vh #fff, 64vw 71vh #fff,
    31vw 81vh #fff, 2vw 55vh #fff, 26vw 91vh #fff, 94vw 80vh #fff,
    94vw 76vh #fff, 58vw 100vh #fff, 32vw 79vh #fff, 80vw 49vh #fff,
    36vw 27vh #fff, 100vw 95vh #fff, 87vw 50vh #fff, 87vw 2vh #fff,
    20vw 4vh #fff, 16vw 14vh #fff, 27vw 74vh #fff, 5vw 100vh #fff, 50vw 7vh #fff,
    22vw 25vh #fff, 68vw 72vh #fff, 17vw 65vh #fff, 16vw 92vh #fff,
    40vw 11vh #fff, 75vw 25vh #fff, 19vw 51vh #fff, 20vw 21vh #fff,
    76vw 49vh #fff, 58vw 68vh #fff, 6vw 69vh #fff, 15vw 36vh #fff, 49vw 4vh #fff,
    33vw 45vh #fff, 1vw 94vh #fff, 20vw 19vh #fff, 62vw 85vh #fff, 14vw 7vh #fff,
    56vw 71vh #fff, 46vw 14vh #fff, 72vw 76vh #fff, 11vw 7vh #fff,
    42vw 74vh #fff, 47vw 3vh #fff, 38vw 15vh #fff, 56vw 46vh #fff,
    83vw 28vh #fff, 78vw 94vh #fff, 65vw 34vh #fff, 49vw 86vh #fff,
    55vw 3vh #fff, 18vw 30vh #fff, 99vw 39vh #fff, 86vw 82vh #fff, 23vw 5vh #fff,
    40vw 56vh #fff, 43vw 60vh #fff, 45vw 23vh #fff, 52vw 32vh #fff,
    93vw 64vh #fff, 97vw 66vh #fff, 94vw 56vh #fff, 44vw 48vh #fff,
    85vw 26vh #fff, 79vw 46vh #fff, 6vw 13vh #fff, 89vw 70vh #fff,
    13vw 40vh #fff, 19vw 2vh #fff, 76vw 99vh #fff, 44vw 17vh #fff,
    96vw 98vh #fff, 31vw 20vh #fff, 26vw 98vh #fff, 82vw 15vh #fff,
    93vw 75vh #fff, 15vw 54vh #fff, 34vw 67vh #fff, 66vw 60vh #fff,
    57vw 26vh #fff, 53vw 76vh #fff, 8vw 47vh #fff, 94vw 25vh #fff,
    37vw 82vh #fff, 52vw 76vh #fff, 51vw 92vh #fff, 63vw 40vh #fff,
    7vw 56vh #fff, 83vw 66vh #fff, 1vw 36vh #fff, 33vw 34vh #fff, 19vw 62vh #fff,
    40vw 82vh #fff, 15vw 93vh #fff, 27vw 98vh #fff, 1vw 1vh #fff, 3vw 43vh #fff,
    43vw 60vh #fff, 14vw 83vh #fff, 56vw 3vh #fff, 95vw 96vh #fff,
    67vw 36vh #fff, 37vw 14vh #fff, 1vw 41vh #fff, 22vw 54vh #fff, 8vw 35vh #fff,
    99vw 55vh #fff, 31vw 37vh #fff, 93vw 43vh #fff, 48vw 26vh #fff,
    92vw 69vh #fff, 51vw 66vh #fff, 95vw 9vh #fff, 29vw 62vh #fff,
    95vw 96vh #fff, 49vw 88vh #fff, 9vw 51vh #fff, 7vw 73vh #fff, 34vw 89vh #fff,
    43vw 74vh #fff, 83vw 88vh #fff, 3vw 89vh #fff, 4vw 55vh #fff, 18vw 63vh #fff,
    33vw 7vh #fff, 17vw 56vh #fff, 22vw 97vh #fff, 7vw 42vh #fff, 1vw 12vh #fff,
    13vw 26vh #fff, 61vw 48vh #fff, 1vw 72vh #fff, 8vw 82vh #fff, 11vw 16vh #fff,
    54vw 35vh #fff, 58vw 16vh #fff, 6vw 90vh #fff, 5vw 21vh #fff, 44vw 87vh #fff,
    77vw 94vh #fff, 16vw 4vh #fff, 24vw 80vh #fff, 86vw 77vh #fff,
    47vw 84vh #fff, 12vw 77vh #fff, 4vw 5vh #fff, 89vw 40vh #fff, 32vw 61vh #fff,
    65vw 6vh #fff, 88vw 96vh #fff, 60vw 80vh #fff, 32vw 43vh #fff,
    91vw 55vh #fff, 62vw 95vh #fff, 98vw 95vh #fff, 44vw 74vh #fff,
    91vw 92vh #fff, 97vw 26vh #fff, 100vw 87vh #fff, 55vw 71vh #fff,
    97vw 85vh #fff, 5vw 42vh #fff, 94vw 42vh #fff, 88vw 53vh #fff,
    94vw 43vh #fff, 71vw 52vh #fff, 93vw 11vh #fff, 5vw 43vh #fff,
    99vw 35vh #fff, 18vw 35vh #fff, 48vw 55vh #fff, 67vw 99vh #fff,
    25vw 47vh #fff, 13vw 7vh #fff, 98vw 84vh #fff, 45vw 36vh #fff,
    56vw 88vh #fff, 1vw 10vh #fff, 30vw 63vh #fff, 36vw 50vh #fff,
    49vw 55vh #fff, 74vw 76vh #fff, 71vw 55vh #fff, 70vw 49vh #fff,
    47vw 85vh #fff, 87vw 23vh #fff, 18vw 91vh #fff, 59vw 67vh #fff,
    81vw 2vh #fff, 7vw 14vh #fff, 100vw 8vh #fff, 2vw 93vh #fff, 15vw 25vh #fff,
    47vw 57vh #fff, 54vw 34vh #fff, 60vw 91vh #fff, 76vw 84vh #fff,
    69vw 49vh #fff, 68vw 81vh #fff, 64vw 19vh #fff, 78vw 61vh #fff,
    92vw 87vh #fff, 9vw 36vh #fff, 25vw 85vh #fff, 31vw 13vh #fff,
    75vw 80vh #fff, 89vw 3vh #fff, 20vw 63vh #fff, 45vw 79vh #fff,
    50vw 14vh #fff, 65vw 49vh #fff, 66vw 2vh #fff, 22vw 78vh #fff,
    50vw 40vh #fff, 85vw 61vh #fff, 57vw 43vh #fff, 29vw 3vh #fff,
    40vw 92vh #fff, 51vw 46vh #fff, 86vw 29vh #fff, 38vw 70vh #fff,
    54vw 71vh #fff, 77vw 39vh #fff, 43vw 68vh #fff, 62vw 38vh #fff,
    47vw 45vh #fff, 11vw 80vh #fff, 59vw 35vh #fff, 64vw 14vh #fff, 7vw 9vh #fff,
    6vw 78vh #fff, 20vw 92vh #fff, 33vw 91vh #fff, 81vw 15vh #fff,
    42vw 79vh #fff, 14vw 70vh #fff, 68vw 78vh #fff, 12vw 56vh #fff,
    54vw 28vh #fff, 35vw 77vh #fff, 19vw 13vh #fff, 70vw 70vh #fff,
    30vw 50vh #fff, 97vw 95vh #fff, 61vw 43vh #fff, 54vw 11vh #fff,
    71vw 55vh #fff, 17vw 16vh #fff, 54vw 65vh #fff, 69vw 10vh #fff,
    45vw 29vh #fff, 21vw 8vh #fff, 4vw 43vh #fff, 90vw 52vh #fff, 77vw 88vh #fff,
    67vw 2vh #fff, 21vw 77vh #fff, 91vw 73vh #fff, 100vw 41vh #fff,
    18vw 39vh #fff, 56vw 2vh #fff, 62vw 63vh #fff, 40vw 72vh #fff, 5vw 53vh #fff,
    10vw 45vh #fff, 47vw 13vh #fff, 66vw 23vh #fff, 74vw 90vh #fff,
    58vw 68vh #fff, 69vw 53vh #fff, 55vw 54vh #fff, 31vw 48vh #fff,
    41vw 14vh #fff, 21vw 79vh #fff, 47vw 45vh #fff, 88vw 31vh #fff,
    48vw 10vh #fff, 90vw 30vh #fff, 98vw 86vh #fff, 66vw 54vh #fff,
    77vw 66vh #fff, 28vw 27vh #fff, 22vw 67vh #fff, 70vw 56vh #fff,
    87vw 17vh #fff, 66vw 60vh #fff, 50vw 54vh #fff, 91vw 98vh #fff,
    24vw 24vh #fff, 84vw 5vh #fff, 64vw 40vh #fff, 78vw 67vh #fff,
    34vw 69vh #fff, 58vw 7vh #fff, 44vw 21vh #fff, 32vw 2vh #fff, 59vw 48vh #fff,
    61vw 23vh #fff, 72vw 96vh #fff, 45vw 12vh #fff, 5vw 41vh #fff,
    10vw 96vh #fff, 82vw 6vh #fff, 44vw 94vh #fff, 35vw 90vh #fff,
    70vw 66vh #fff, 25vw 30vh #fff, 8vw 10vh #fff, 72vw 20vh #fff,
    21vw 91vh #fff, 3vw 40vh #fff, 27vw 41vh #fff, 70vw 14vh #fff,
    19vw 85vh #fff, 32vw 57vh #fff, 95vw 11vh #fff, 55vw 99vh #fff,
    87vw 36vh #fff, 82vw 76vh #fff, 97vw 30vh #fff, 41vw 46vh #fff,
    63vw 11vh #fff, 99vw 71vh #fff, 74vw 7vh #fff, 56vw 76vh #fff,
    27vw 12vh #fff, 3vw 13vh #fff, 37vw 47vh #fff, 43vw 64vh #fff,
    42vw 70vh #fff, 53vw 32vh #fff, 64vw 85vh #fff, 25vw 34vh #fff,
    90vw 66vh #fff, 13vw 5vh #fff, 61vw 10vh #fff, 23vw 16vh #fff, 4vw 73vh #fff,
    87vw 10vh #fff, 32vw 1vh #fff, 60vw 64vh #fff, 4vw 52vh #fff, 52vw 96vh #fff,
    98vw 52vh #fff, 33vw 31vh #fff, 44vw 13vh #fff, 16vw 28vh #fff,
    7vw 51vh #fff, 37vw 20vh #fff, 38vw 35vh #fff, 99vw 57vh #fff,
    21vw 25vh #fff, 82vw 15vh #fff, 69vw 15vh #fff, 55vw 73vh #fff,
    23vw 21vh #fff, 60vw 38vh #fff, 14vw 54vh #fff, 88vw 51vh #fff,
    49vw 45vh #fff, 2vw 97vh #fff, 58vw 70vh #fff, 22vw 92vh #fff,
    24vw 42vh #fff, 44vw 2vh #fff, 72vw 83vh #fff, 30vw 19vh #fff,
    29vw 49vh #fff, 33vw 28vh #fff, 41vw 17vh #fff, 64vw 48vh #fff,
    88vw 5vh #fff, 27vw 97vh #fff, 45vw 27vh #fff, 28vw 83vh #fff,
    72vw 45vh #fff, 4vw 38vh #fff, 52vw 1vh #fff, 16vw 48vh #fff, 84vw 87vh #fff,
    19vw 98vh #fff, 54vw 11vh #fff, 21vw 4vh #fff, 12vw 29vh #fff,
    85vw 29vh #fff, 13vw 11vh #fff, 25vw 29vh #fff, 68vw 70vh #fff,
    9vw 93vh #fff, 79vw 27vh #fff, 1vw 10vh #fff, 28vw 6vh #fff, 37vw 57vh #fff,
    40vw 48vh #fff, 15vw 6vh #fff, 90vw 49vh #fff, 84vw 95vh #fff,
    28vw 33vh #fff, 29vw 59vh #fff, 19vw 2vh #fff, 5vw 28vh #fff, 1vw 19vh #fff,
    39vw 21vh #fff, 7vw 58vh #fff, 98vw 91vh #fff, 16vw 76vh #fff,
    79vw 59vh #fff, 23vw 96vh #fff, 27vw 69vh #fff, 77vw 56vh #fff,
    76vw 59vh #fff, 73vw 47vh #fff, 56vw 94vh #fff, 55vw 76vh #fff,
    21vw 21vh #fff, 6vw 54vh #fff, 95vw 61vh #fff, 18vw 91vh #fff,
    22vw 26vh #fff, 3vw 86vh #fff, 90vw 11vh #fff, 22vw 7vh #fff, 33vw 6vh #fff,
    35vw 27vh #fff, 71vw 96vh #fff, 39vw 37vh #fff, 3vw 62vh #fff,
    49vw 71vh #fff, 90vw 5vh #fff, 93vw 18vh #fff, 1vw 45vh #fff, 40vw 6vh #fff;
  animation: moveUp 41s linear infinite;
}

.layer1::after {
  content: "";
  position: fixed;
  left: 0;
  top: 100vh;
  width: 1px;
  height: 1px;
  border-radius: inherit;
  box-shadow: inherit;
}

.layer2 {
  position: fixed;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-shadow: 50vw 30vh #fff, 57vw 50vh #fff, 16vw 17vh #fff, 94vw 81vh #fff,
    43vw 55vh #fff, 1vw 6vh #fff, 47vw 43vh #fff, 39vw 2vh #fff, 72vw 99vh #fff,
    70vw 91vh #fff, 16vw 33vh #fff, 5vw 41vh #fff, 53vw 39vh #fff,
    14vw 41vh #fff, 40vw 45vh #fff, 57vw 21vh #fff, 39vw 73vh #fff,
    41vw 37vh #fff, 89vw 89vh #fff, 78vw 46vh #fff, 42vw 31vh #fff,
    77vw 100vh #fff, 42vw 41vh #fff, 6vw 37vh #fff, 23vw 35vh #fff,
    44vw 24vh #fff, 82vw 71vh #fff, 10vw 69vh #fff, 47vw 1vh #fff,
    24vw 30vh #fff, 87vw 15vh #fff, 27vw 57vh #fff, 94vw 77vh #fff,
    65vw 86vh #fff, 5vw 41vh #fff, 1vw 14vh #fff, 77vw 51vh #fff, 42vw 10vh #fff,
    8vw 3vh #fff, 44vw 1vh #fff, 17vw 92vh #fff, 22vw 73vh #fff, 7vw 100vh #fff,
    39vw 84vh #fff, 52vw 77vh #fff, 80vw 77vh #fff, 64vw 29vh #fff,
    24vw 100vh #fff, 59vw 51vh #fff, 25vw 31vh #fff, 24vw 44vh #fff,
    93vw 46vh #fff, 99vw 56vh #fff, 35vw 93vh #fff, 12vw 1vh #fff, 9vw 12vh #fff,
    6vw 64vh #fff, 65vw 6vh #fff, 37vw 44vh #fff, 78vw 50vh #fff, 94vw 36vh #fff,
    5vw 24vh #fff, 31vw 25vh #fff, 92vw 49vh #fff, 94vw 31vh #fff,
    91vw 77vh #fff, 68vw 73vh #fff, 4vw 76vh #fff, 29vw 20vh #fff,
    98vw 45vh #fff, 12vw 26vh #fff, 32vw 70vh #fff, 61vw 25vh #fff,
    50vw 82vh #fff, 83vw 99vh #fff, 29vw 21vh #fff, 97vw 80vh #fff,
    84vw 46vh #fff, 21vw 60vh #fff, 93vw 80vh #fff, 62vw 45vh #fff,
    35vw 22vh #fff, 71vw 57vh #fff, 59vw 91vh #fff, 26vw 47vh #fff,
    55vw 43vh #fff, 17vw 32vh #fff, 88vw 73vh #fff, 59vw 45vh #fff,
    62vw 13vh #fff, 62vw 82vh #fff, 74vw 35vh #fff, 86vw 4vh #fff,
    44vw 31vh #fff, 59vw 15vh #fff, 97vw 72vh #fff, 7vw 85vh #fff,
    42vw 61vh #fff, 43vw 37vh #fff, 1vw 71vh #fff, 10vw 50vh #fff, 5vw 93vh #fff,
    9vw 42vh #fff, 46vw 13vh #fff, 45vw 85vh #fff, 14vw 41vh #fff,
    16vw 78vh #fff, 52vw 94vh #fff, 96vw 9vh #fff, 53vw 85vh #fff,
    50vw 10vh #fff, 64vw 1vh #fff, 2vw 43vh #fff, 71vw 26vh #fff, 43vw 13vh #fff,
    62vw 6vh #fff, 18vw 65vh #fff, 79vw 3vh #fff, 92vw 100vh #fff,
    22vw 43vh #fff, 75vw 34vh #fff, 61vw 5vh #fff, 13vw 76vh #fff,
    87vw 60vh #fff, 14vw 87vh #fff, 43vw 31vh #fff, 99vw 15vh #fff,
    5vw 21vh #fff, 19vw 88vh #fff, 17vw 42vh #fff, 38vw 41vh #fff,
    100vw 10vh #fff, 100vw 39vh #fff, 16vw 18vh #fff, 18vw 69vh #fff,
    95vw 3vh #fff, 14vw 34vh #fff, 69vw 42vh #fff, 61vw 2vh #fff, 46vw 55vh #fff,
    35vw 35vh #fff, 17vw 56vh #fff, 78vw 66vh #fff, 60vw 70vh #fff,
    90vw 18vh #fff, 39vw 71vh #fff, 14vw 63vh #fff, 67vw 59vh #fff,
    84vw 79vh #fff, 37vw 42vh #fff, 80vw 24vh #fff, 99vw 5vh #fff,
    71vw 21vh #fff, 91vw 26vh #fff, 1vw 43vh #fff, 25vw 91vh #fff,
    24vw 61vh #fff, 64vw 26vh #fff, 38vw 43vh #fff, 93vw 19vh #fff,
    70vw 97vh #fff, 27vw 47vh #fff, 97vw 88vh #fff, 88vw 23vh #fff,
    5vw 23vh #fff, 7vw 16vh #fff, 94vw 96vh #fff, 53vw 99vh #fff, 55vw 9vh #fff,
    70vw 16vh #fff, 49vw 41vh #fff, 68vw 18vh #fff, 32vw 41vh #fff,
    53vw 56vh #fff, 18vw 7vh #fff, 38vw 39vh #fff, 38vw 21vh #fff,
    20vw 90vh #fff, 59vw 7vh #fff, 3vw 64vh #fff, 11vw 91vh #fff, 73vw 55vh #fff,
    91vw 14vh #fff, 54vw 96vh #fff, 49vw 6vh #fff, 30vw 41vh #fff,
    19vw 97vh #fff, 87vw 38vh #fff, 61vw 50vh #fff, 61vw 67vh #fff,
    56vw 79vh #fff, 68vw 29vh #fff, 96vw 70vh #fff, 79vw 10vh #fff,
    73vw 44vh #fff, 70vw 60vh #fff, 18vw 99vh #fff, 53vw 19vh #fff,
    87vw 2vh #fff, 47vw 1vh #fff, 10vw 44vh #fff, 49vw 1vh #fff, 100vw 28vh #fff,
    23vw 19vh #fff, 81vw 45vh #fff, 12vw 43vh #fff, 35vw 72vh #fff,
    65vw 62vh #fff, 94vw 63vh #fff, 65vw 65vh #fff, 100vw 81vh #fff,
    84vw 94vh #fff, 38vw 55vh #fff, 81vw 66vh #fff, 18vw 66vh #fff,
    29vw 67vh #fff, 27vw 56vh #fff, 98vw 48vh #fff, 38vw 40vh #fff,
    53vw 79vh #fff, 80vw 57vh #fff, 31vw 63vh #fff, 52vw 39vh #fff,
    95vw 94vh #fff, 17vw 78vh #fff, 35vw 90vh #fff, 66vw 82vh #fff,
    83vw 46vh #fff, 78vw 66vh #fff, 87vw 83vh #fff, 49vw 84vh #fff,
    82vw 3vh #fff, 21vw 41vh #fff, 32vw 10vh #fff, 100vw 31vh #fff,
    75vw 66vh #fff, 17vw 60vh #fff, 93vw 51vh #fff, 33vw 28vh #fff,
    31vw 76vh #fff, 48vw 27vh #fff, 26vw 66vh #fff, 92vw 88vh #fff,
    69vw 77vh #fff, 8vw 21vh #fff, 30vw 44vh #fff, 70vw 56vh #fff,
    11vw 58vh #fff, 68vw 65vh #fff, 70vw 2vh #fff, 16vw 93vh #fff,
    49vw 68vh #fff, 59vw 71vh #fff, 60vw 59vh #fff, 9vw 97vh #fff, 98vw 8vh #fff,
    47vw 70vh #fff, 13vw 93vh #fff, 100vw 10vh #fff, 89vw 55vh #fff,
    32vw 89vh #fff, 51vw 45vh #fff, 99vw 77vh #fff, 92vw 48vh #fff,
    100vw 19vh #fff, 51vw 20vh #fff, 55vw 37vh #fff, 93vw 67vh #fff,
    1vw 58vh #fff, 9vw 95vh #fff, 25vw 63vh #fff, 48vw 48vh #fff, 22vw 56vh #fff,
    32vw 27vh #fff, 36vw 20vh #fff, 23vw 75vh #fff, 34vw 87vh #fff,
    29vw 45vh #fff, 48vw 24vh #fff, 13vw 50vh #fff, 60vw 14vh #fff,
    91vw 41vh #fff, 35vw 5vh #fff, 24vw 96vh #fff, 72vw 41vh #fff,
    11vw 26vh #fff, 93vw 32vh #fff, 12vw 57vh #fff, 13vw 26vh #fff,
    85vw 81vh #fff, 9vw 69vh #fff, 70vw 8vh #fff, 49vw 22vh #fff, 92vw 31vh #fff,
    37vw 13vh #fff, 77vw 86vh #fff, 19vw 90vh #fff, 55vw 41vh #fff,
    9vw 39vh #fff, 15vw 53vh #fff, 94vw 39vh #fff, 6vw 89vh #fff, 69vw 7vh #fff,
    30vw 76vh #fff, 74vw 25vh #fff, 14vw 17vh #fff, 66vw 16vh #fff,
    86vw 73vh #fff, 84vw 89vh #fff, 73vw 2vh #fff, 33vw 91vh #fff,
    49vw 35vh #fff, 38vw 2vh #fff, 14vw 84vh #fff, 6vw 75vh #fff, 40vw 68vh #fff,
    47vw 24vh #fff, 66vw 26vh #fff, 84vw 7vh #fff, 10vw 80vh #fff,
    84vw 94vh #fff, 47vw 62vh #fff, 22vw 14vh #fff, 33vw 94vh #fff,
    96vw 54vh #fff, 68vw 1vh #fff, 58vw 73vh #fff, 15vw 69vh #fff,
    74vw 14vh #fff, 57vw 44vh #fff, 21vw 32vh #fff, 75vw 50vh #fff,
    15vw 40vh #fff, 85vw 94vh #fff, 70vw 94vh #fff, 39vw 58vh #fff,
    13vw 4vh #fff, 22vw 25vh #fff, 47vw 57vh #fff, 48vw 1vh #fff,
    100vw 23vh #fff, 98vw 11vh #fff, 4vw 23vh #fff, 97vw 86vh #fff,
    52vw 53vh #fff, 57vw 66vh #fff, 34vw 24vh #fff, 24vw 90vh #fff,
    10vw 58vh #fff, 98vw 28vh #fff, 81vw 8vh #fff, 32vw 94vh #fff,
    32vw 44vh #fff, 70vw 4vh #fff, 66vw 86vh #fff, 88vw 33vh #fff,
    38vw 40vh #fff, 31vw 23vh #fff, 96vw 96vh #fff, 90vw 43vh #fff,
    71vw 15vh #fff, 46vw 96vh #fff, 54vw 92vh #fff, 18vw 19vh #fff,
    64vw 29vh #fff, 70vw 13vh #fff, 39vw 66vh #fff, 2vw 11vh #fff, 80vw 2vh #fff,
    40vw 56vh #fff, 31vw 30vh #fff, 81vw 81vh #fff, 31vw 39vh #fff,
    35vw 46vh #fff, 66vw 31vh #fff, 1vw 59vh #fff, 3vw 58vh #fff, 33vw 41vh #fff,
    51vw 72vh #fff, 85vw 46vh #fff, 84vw 88vh #fff, 58vw 81vh #fff,
    58vw 52vh #fff, 42vw 97vh #fff, 73vw 12vh #fff, 51vw 85vh #fff,
    53vw 4vh #fff, 95vw 76vh #fff, 89vw 56vh #fff, 15vw 30vh #fff, 2vw 47vh #fff,
    16vw 71vh #fff, 50vw 70vh #fff, 82vw 5vh #fff, 60vw 82vh #fff,
    11vw 59vh #fff, 59vw 77vh #fff, 36vw 63vh #fff, 9vw 97vh #fff, 3vw 28vh #fff,
    5vw 50vh #fff, 67vw 50vh #fff, 28vw 67vh #fff, 6vw 51vh #fff, 54vw 21vh #fff,
    71vw 56vh #fff, 86vw 29vh #fff, 5vw 53vh #fff, 57vw 39vh #fff,
    41vw 74vh #fff, 82vw 99vh #fff, 18vw 46vh #fff, 36vw 97vh #fff,
    71vw 85vh #fff, 20vw 48vh #fff, 9vw 83vh #fff, 20vw 12vh #fff,
    85vw 48vh #fff, 81vw 15vh #fff, 92vw 4vh #fff, 89vw 59vh #fff,
    94vw 92vh #fff, 91vw 57vh #fff, 1vw 93vh #fff, 89vw 39vh #fff,
    79vw 70vh #fff, 83vw 54vh #fff, 98vw 44vh #fff, 57vw 63vh #fff,
    38vw 39vh #fff, 99vw 75vh #fff, 71vw 46vh #fff, 5vw 79vh #fff,
    43vw 94vh #fff, 16vw 8vh #fff, 88vw 8vh #fff, 19vw 55vh #fff, 93vw 26vh #fff,
    81vw 53vh #fff, 73vw 1vh #fff, 66vw 58vh #fff, 36vw 42vh #fff,
    34vw 88vh #fff, 43vw 46vh #fff, 46vw 7vh #fff, 13vw 32vh #fff, 37vw 4vh #fff,
    26vw 93vh #fff, 82vw 73vh #fff, 21vw 56vh #fff, 75vw 28vh #fff,
    72vw 9vh #fff, 18vw 68vh #fff, 47vw 61vh #fff, 53vw 40vh #fff,
    24vw 84vh #fff, 95vw 32vh #fff, 84vw 49vh #fff, 4vw 61vh #fff,
    92vw 47vh #fff, 84vw 13vh #fff, 56vw 22vh #fff, 98vw 38vh #fff,
    42vw 54vh #fff, 94vw 29vh #fff, 22vw 71vh #fff, 92vw 82vh #fff,
    10vw 29vh #fff, 84vw 34vh #fff, 19vw 56vh #fff, 77vw 14vh #fff,
    5vw 21vh #fff, 29vw 89vh #fff, 92vw 28vh #fff, 1vw 1vh #fff, 95vw 93vh #fff,
    16vw 63vh #fff, 7vw 11vh #fff, 30vw 48vh #fff, 94vw 28vh #fff, 94vw 3vh #fff,
    77vw 95vh #fff, 54vw 56vh #fff, 85vw 68vh #fff, 99vw 62vh #fff,
    28vw 42vh #fff, 79vw 44vh #fff, 57vw 69vh #fff, 43vw 38vh #fff,
    98vw 31vh #fff, 63vw 38vh #fff, 89vw 60vh #fff, 66vw 40vh #fff,
    30vw 16vh #fff, 31vw 76vh #fff, 77vw 25vh #fff, 56vw 65vh #fff,
    19vw 15vh #fff, 8vw 88vh #fff, 10vw 10vh #fff, 26vw 91vh #fff,
    52vw 58vh #fff, 34vw 70vh #fff, 81vw 29vh #fff, 58vw 51vh #fff,
    71vw 7vh #fff, 67vw 36vh #fff, 20vw 87vh #fff, 50vw 86vh #fff,
    21vw 73vh #fff, 46vw 81vh #fff, 75vw 69vh #fff, 55vw 24vh #fff,
    46vw 38vh #fff, 24vw 78vh #fff, 47vw 5vh #fff, 84vw 30vh #fff, 94vw 5vh #fff,
    46vw 91vh #fff, 29vw 48vh #fff, 15vw 23vh #fff, 36vw 46vh #fff,
    74vw 47vh #fff, 77vw 2vh #fff, 64vw 99vh #fff, 14vw 91vh #fff,
    36vw 82vh #fff, 99vw 88vh #fff, 93vw 23vh #fff, 25vw 49vh #fff,
    13vw 12vh #fff, 67vw 77vh #fff, 19vw 16vh #fff, 59vw 62vh #fff,
    77vw 80vh #fff, 23vw 49vh #fff, 75vw 13vh #fff, 5vw 65vh #fff,
    85vw 87vh #fff, 4vw 76vh #fff, 87vw 57vh #fff, 36vw 31vh #fff,
    37vw 37vh #fff, 43vw 57vh #fff, 53vw 39vh #fff, 81vw 21vh #fff,
    100vw 87vh #fff, 59vw 83vh #fff, 10vw 86vh #fff, 83vw 83vh #fff,
    18vw 29vh #fff, 68vw 58vh #fff, 50vw 72vh #fff, 85vw 6vh #fff,
    40vw 58vh #fff, 42vw 74vh #fff, 2vw 72vh #fff, 50vw 49vh #fff,
    64vw 55vh #fff, 90vw 25vh #fff, 99vw 32vh #fff, 21vw 17vh #fff,
    19vw 37vh #fff, 8vw 28vh #fff, 63vw 98vh #fff, 43vw 91vh #fff,
    48vw 56vh #fff, 55vw 59vh #fff, 99vw 43vh #fff, 61vw 70vh #fff,
    3vw 63vh #fff, 50vw 12vh #fff, 98vw 71vh #fff, 87vw 81vh #fff,
    90vw 34vh #fff, 49vw 55vh #fff, 40vw 22vh #fff, 6vw 34vh #fff,
    86vw 79vh #fff, 15vw 52vh #fff, 32vw 30vh #fff, 75vw 42vh #fff,
    53vw 80vh #fff, 5vw 96vh #fff, 86vw 73vh #fff, 91vw 84vh #fff,
    40vw 89vh #fff, 49vw 98vh #fff, 40vw 57vh #fff, 72vw 2vh #fff,
    82vw 66vh #fff, 70vw 18vh #fff, 79vw 51vh #fff, 89vw 16vh #fff,
    32vw 71vh #fff, 60vw 51vh #fff, 61vw 5vh #fff, 58vw 96vh #fff,
    47vw 48vh #fff, 30vw 84vh #fff, 22vw 18vh #fff, 45vw 39vh #fff,
    92vw 94vh #fff, 51vw 15vh #fff, 5vw 11vh #fff, 31vw 85vh #fff,
    92vw 75vh #fff, 29vw 95vh #fff, 97vw 59vh #fff, 88vw 37vh #fff,
    27vw 23vh #fff, 72vw 47vh #fff, 92vw 45vh #fff, 93vw 75vh #fff,
    51vw 76vh #fff, 13vw 5vh #fff, 57vw 66vh #fff, 25vw 9vh #fff, 63vw 22vh #fff,
    87vw 64vh #fff, 9vw 12vh #fff, 7vw 16vh #fff, 2vw 72vh #fff, 29vw 80vh #fff,
    7vw 15vh #fff, 4vw 93vh #fff, 63vw 67vh #fff, 64vw 14vh #fff, 76vw 2vh #fff,
    31vw 69vh #fff, 6vw 5vh #fff, 2vw 22vh #fff, 77vw 68vh #fff, 95vw 57vh #fff,
    6vw 75vh #fff, 80vw 37vh #fff, 49vw 46vh #fff, 28vw 31vh #fff,
    98vw 44vh #fff, 38vw 86vh #fff, 12vw 50vh #fff, 30vw 63vh #fff,
    98vw 55vh #fff, 95vw 87vh #fff, 16vw 12vh #fff, 5vw 12vh #fff,
    56vw 27vh #fff, 22vw 83vh #fff, 88vw 44vh #fff, 65vw 62vh #fff,
    84vw 97vh #fff, 13vw 13vh #fff, 98vw 13vh #fff, 50vw 37vh #fff,
    49vw 31vh #fff, 97vw 51vh #fff, 72vw 86vh #fff, 23vw 22vh #fff,
    68vw 12vh #fff, 2vw 3vh #fff, 42vw 63vh #fff, 1vw 4vh #fff, 43vw 96vh #fff,
    69vw 94vh #fff, 90vw 93vh #fff, 29vw 39vh #fff, 94vw 40vh #fff,
    24vw 38vh #fff, 22vw 40vh #fff, 47vw 62vh #fff, 24vw 30vh #fff,
    21vw 21vh #fff, 38vw 89vh #fff, 71vw 43vh #fff, 62vw 25vh #fff,
    81vw 83vh #fff, 39vw 48vh #fff, 55vw 5vh #fff, 60vw 76vh #fff,
    12vw 16vh #fff, 17vw 95vh #fff, 91vw 30vh #fff, 71vw 62vh #fff,
    87vw 89vh #fff, 13vw 62vh #fff, 88vw 80vh #fff, 99vw 29vh #fff,
    60vw 57vh #fff, 19vw 24vh #fff, 4vw 51vh #fff, 19vw 51vh #fff,
    42vw 75vh #fff, 51vw 3vh #fff, 8vw 69vh #fff, 34vw 78vh #fff, 70vw 92vh #fff,
    56vw 41vh #fff, 3vw 70vh #fff, 74vw 42vh #fff, 30vw 36vh #fff,
    45vw 41vh #fff, 85vw 13vh #fff, 61vw 91vh #fff, 65vw 57vh #fff,
    51vw 50vh #fff, 96vw 11vh #fff, 60vw 32vh #fff, 60vw 57vh #fff,
    41vw 25vh #fff, 8vw 52vh #fff, 60vw 73vh #fff, 71vw 32vh #fff,
    82vw 55vh #fff, 60vw 85vh #fff, 25vw 33vh #fff, 90vw 78vh #fff,
    84vw 84vh #fff, 95vw 83vh #fff, 7vw 43vh #fff, 90vw 31vh #fff, 4vw 78vh #fff,
    27vw 44vh #fff, 64vw 49vh #fff, 44vw 14vh #fff, 84vw 28vh #fff,
    15vw 90vh #fff, 17vw 23vh #fff, 36vw 44vh #fff, 55vw 54vh #fff,
    38vw 52vh #fff, 90vw 95vh #fff, 57vw 35vh #fff, 60vw 23vh #fff,
    49vw 96vh #fff, 89vw 92vh #fff, 26vw 90vh #fff, 57vw 83vh #fff,
    10vw 42vh #fff, 26vw 13vh #fff, 75vw 35vh #fff, 100vw 30vh #fff,
    23vw 96vh #fff, 68vw 49vh #fff, 35vw 68vh #fff, 99vw 49vh #fff,
    60vw 54vh #fff, 84vw 6vh #fff, 44vw 87vh #fff, 15vw 3vh #fff, 4vw 97vh #fff,
    17vw 94vh #fff, 49vw 89vh #fff, 64vw 96vh #fff, 44vw 85vh #fff,
    9vw 14vh #fff, 51vw 27vh #fff, 25vw 11vh #fff, 38vw 84vh #fff,
    95vw 82vh #fff, 75vw 78vh #fff, 38vw 96vh #fff, 8vw 34vh #fff, 2vw 52vh #fff,
    87vw 27vh #fff, 18vw 45vh #fff, 23vw 57vh #fff, 92vw 35vh #fff,
    87vw 12vh #fff, 9vw 40vh #fff, 89vw 13vh #fff, 27vw 61vh #fff,
    46vw 49vh #fff, 16vw 23vh #fff, 31vw 33vh #fff, 52vw 63vh #fff,
    46vw 80vh #fff, 10vw 69vh #fff, 55vw 95vh #fff, 10vw 20vh #fff,
    70vw 65vh #fff, 65vw 12vh #fff, 67vw 51vh #fff, 61vw 40vh #fff,
    99vw 29vh #fff, 15vw 93vh #fff, 91vw 65vh #fff, 99vw 29vh #fff,
    68vw 70vh #fff, 60vw 10vh #fff, 31vw 24vh #fff, 20vw 93vh #fff,
    78vw 35vh #fff, 66vw 9vh #fff, 88vw 20vh #fff, 91vw 90vh #fff,
    33vw 20vh #fff, 78vw 59vh #fff, 35vw 22vh #fff, 83vw 56vh #fff,
    77vw 34vh #fff, 9vw 47vh #fff, 9vw 57vh #fff, 83vw 60vh #fff, 72vw 75vh #fff,
    44vw 27vh #fff, 35vw 70vh #fff, 63vw 43vh #fff, 94vw 2vh #fff,
    86vw 64vh #fff, 8vw 28vh #fff, 81vw 13vh #fff, 1vw 56vh #fff, 83vw 42vh #fff,
    5vw 54vh #fff, 85vw 50vh #fff, 74vw 28vh #fff, 92vw 49vh #fff,
    23vw 19vh #fff, 46vw 54vh #fff, 18vw 20vh #fff, 78vw 35vh #fff,
    54vw 16vh #fff, 11vw 21vh #fff, 27vw 48vh #fff, 79vw 3vh #fff,
    79vw 95vh #fff, 97vw 42vh #fff, 85vw 81vh #fff, 72vw 68vh #fff,
    52vw 44vh #fff, 76vw 57vh #fff, 28vw 86vh #fff, 8vw 75vh #fff,
    21vw 72vh #fff, 72vw 3vh #fff, 22vw 13vh #fff, 87vw 73vh #fff,
    62vw 56vh #fff, 81vw 83vh #fff, 28vw 63vh #fff, 56vw 62vh #fff,
    75vw 97vh #fff, 93vw 79vh #fff, 39vw 11vh #fff, 18vw 41vh #fff,
    64vw 49vh #fff, 45vw 89vh #fff, 58vw 5vh #fff, 59vw 35vh #fff,
    67vw 31vh #fff, 81vw 51vh #fff, 49vw 89vh #fff, 12vw 47vh #fff,
    90vw 78vh #fff, 2vw 65vh #fff, 53vw 11vh #fff, 77vw 82vh #fff,
    29vw 30vh #fff, 25vw 30vh #fff, 28vw 43vh #fff, 90vw 27vh #fff,
    60vw 30vh #fff, 50vw 76vh #fff, 74vw 69vh #fff, 87vw 38vh #fff,
    85vw 55vh #fff, 29vw 77vh #fff, 12vw 84vh #fff, 2vw 55vh #fff,
    17vw 37vh #fff, 21vw 61vh #fff, 60vw 50vh #fff, 51vw 89vh #fff,
    68vw 88vh #fff, 87vw 19vh #fff, 29vw 29vh #fff, 85vw 86vh #fff,
    42vw 24vh #fff, 61vw 2vh #fff, 69vw 55vh #fff, 17vw 14vh #fff,
    18vw 22vh #fff, 56vw 12vh #fff, 42vw 88vh #fff, 7vw 52vh #fff,
    72vw 68vh #fff, 49vw 30vh #fff, 79vw 64vh #fff, 86vw 79vh #fff,
    21vw 60vh #fff, 87vw 38vh #fff, 14vw 42vh #fff, 38vw 7vh #fff,
    34vw 21vh #fff, 8vw 51vh #fff, 43vw 77vh #fff, 46vw 82vh #fff, 80vw 1vh #fff,
    42vw 74vh #fff, 3vw 20vh #fff, 62vw 45vh #fff, 15vw 80vh #fff,
    95vw 63vh #fff, 72vw 37vh #fff, 82vw 81vh #fff, 39vw 52vh #fff,
    86vw 30vh #fff, 19vw 22vh #fff, 27vw 38vh #fff, 62vw 64vh #fff,
    17vw 45vh #fff, 91vw 82vh #fff, 12vw 98vh #fff, 70vw 84vh #fff,
    56vw 66vh #fff, 63vw 47vh #fff, 21vw 37vh #fff, 4vw 99vh #fff,
    91vw 88vh #fff, 82vw 71vh #fff, 87vw 7vh #fff, 25vw 81vh #fff,
    10vw 98vh #fff, 99vw 81vh #fff, 25vw 85vh #fff, 30vw 68vh #fff,
    69vw 47vh #fff, 85vw 4vh #fff, 80vw 11vh #fff, 1vw 17vh #fff, 30vw 62vh #fff,
    43vw 12vh #fff, 80vw 32vh #fff, 44vw 65vh #fff, 38vw 89vh #fff,
    63vw 9vh #fff, 12vw 47vh #fff, 35vw 12vh #fff, 36vw 20vh #fff,
    60vw 90vh #fff, 25vw 41vh #fff, 81vw 14vh #fff, 31vw 89vh #fff,
    52vw 30vh #fff, 94vw 18vh #fff, 46vw 95vh #fff, 21vw 58vh #fff,
    85vw 96vh #fff, 13vw 9vh #fff, 85vw 93vh #fff, 81vw 51vh #fff,
    28vw 13vh #fff, 65vw 12vh #fff, 18vw 24vh #fff, 22vw 34vh #fff,
    37vw 31vh #fff, 55vw 96vh #fff, 1vw 97vh #fff, 41vw 33vh #fff,
    11vw 96vh #fff, 21vw 76vh #fff, 50vw 10vh #fff, 38vw 7vh #fff, 3vw 40vh #fff,
    58vw 82vh #fff, 15vw 63vh #fff, 7vw 88vh #fff, 5vw 39vh #fff, 13vw 35vh #fff,
    4vw 68vh #fff, 1vw 97vh #fff, 41vw 61vh #fff, 48vw 89vh #fff, 94vw 14vh #fff,
    44vw 46vh #fff, 10vw 18vh #fff, 33vw 22vh #fff, 52vw 45vh #fff,
    9vw 63vh #fff, 35vw 99vh #fff, 25vw 45vh #fff, 75vw 84vh #fff, 67vw 1vh #fff,
    76vw 73vh #fff, 69vw 74vh #fff, 43vw 97vh #fff, 32vw 74vh #fff,
    99vw 80vh #fff, 45vw 40vh #fff, 32vw 36vh #fff, 59vw 49vh #fff,
    76vw 74vh #fff, 47vw 19vh #fff, 74vw 76vh #fff, 47vw 93vh #fff,
    28vw 19vh #fff, 62vw 51vh #fff, 33vw 36vh #fff, 36vw 4vh #fff,
    10vw 51vh #fff;
  animation: moveUp 73s linear infinite;
}

.layer2::after {
  content: "";
  position: fixed;
  left: 0;
  top: 100vh;
  width: 2px;
  height: 2px;
  border-radius: inherit;
  box-shadow: inherit;
}

.layer3 {
  position: fixed;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-shadow: 64vw 38vh #fff, 73vw 66vh #fff, 41vw 50vh #fff, 28vw 6vh #fff,
    63vw 47vh #fff, 36vw 87vh #fff, 25vw 65vh #fff, 100vw 77vh #fff,
    92vw 20vh #fff, 82vw 50vh #fff, 24vw 90vh #fff, 28vw 80vh #fff,
    10vw 31vh #fff, 62vw 100vh #fff, 18vw 89vh #fff, 99vw 20vh #fff,
    57vw 16vh #fff, 60vw 64vh #fff, 85vw 7vh #fff, 9vw 19vh #fff, 13vw 62vh #fff,
    98vw 93vh #fff, 34vw 79vh #fff, 88vw 29vh #fff, 66vw 95vh #fff,
    48vw 73vh #fff, 57vw 60vh #fff, 26vw 72vh #fff, 79vw 61vh #fff,
    53vw 33vh #fff, 34vw 25vh #fff, 76vw 57vh #fff, 55vw 68vh #fff,
    47vw 15vh #fff, 91vw 26vh #fff, 43vw 85vh #fff, 51vw 16vh #fff,
    18vw 32vh #fff, 95vw 29vh #fff, 87vw 66vh #fff, 35vw 49vh #fff,
    70vw 83vh #fff, 32vw 54vh #fff, 57vw 22vh #fff, 31vw 6vh #fff,
    16vw 12vh #fff, 60vw 57vh #fff, 2vw 42vh #fff, 62vw 94vh #fff, 46vw 3vh #fff,
    4vw 33vh #fff, 34vw 79vh #fff, 54vw 35vh #fff, 56vw 19vh #fff,
    100vw 93vh #fff, 75vw 82vh #fff, 37vw 100vh #fff, 93vw 82vh #fff,
    9vw 67vh #fff, 20vw 86vh #fff, 86vw 8vh #fff, 64vw 8vh #fff, 97vw 94vh #fff,
    8vw 58vh #fff, 93vw 12vh #fff, 46vw 97vh #fff, 45vw 97vh #fff,
    47vw 10vh #fff, 8vw 1vh #fff, 99vw 19vh #fff, 32vw 86vh #fff, 80vw 27vh #fff,
    47vw 90vh #fff, 72vw 98vh #fff, 7vw 79vh #fff, 75vw 82vh #fff,
    51vw 51vh #fff, 8vw 61vh #fff, 65vw 54vh #fff, 33vw 51vh #fff,
    97vw 34vh #fff, 54vw 1vh #fff, 99vw 71vh #fff, 84vw 76vh #fff,
    69vw 90vh #fff, 95vw 67vh #fff, 81vw 99vh #fff, 75vw 34vh #fff,
    24vw 84vh #fff, 46vw 81vh #fff, 49vw 93vh #fff, 36vw 69vh #fff,
    51vw 75vh #fff, 20vw 1vh #fff, 22vw 52vh #fff, 94vw 2vh #fff, 71vw 77vh #fff,
    45vw 50vh #fff, 74vw 65vh #fff, 68vw 87vh #fff, 32vw 97vh #fff,
    70vw 18vh #fff, 57vw 75vh #fff, 35vw 16vh #fff, 76vw 5vh #fff,
    90vw 36vh #fff, 29vw 7vh #fff, 60vw 3vh #fff, 53vw 25vh #fff, 17vw 57vh #fff,
    78vw 75vh #fff, 98vw 88vh #fff, 25vw 30vh #fff, 46vw 96vh #fff,
    95vw 19vh #fff, 28vw 24vh #fff, 44vw 16vh #fff, 6vw 28vh #fff,
    62vw 29vh #fff, 33vw 57vh #fff, 78vw 99vh #fff, 49vw 74vh #fff,
    95vw 32vh #fff, 59vw 34vh #fff, 3vw 37vh #fff, 92vw 3vh #fff, 79vw 21vh #fff,
    28vw 27vh #fff, 92vw 96vh #fff, 18vw 60vh #fff, 100vw 20vh #fff,
    100vw 82vh #fff, 76vw 14vh #fff, 24vw 83vh #fff, 89vw 19vh #fff,
    59vw 22vh #fff, 31vw 35vh #fff, 31vw 60vh #fff, 48vw 25vh #fff,
    6vw 84vh #fff, 82vw 54vh #fff, 84vw 78vh #fff, 96vw 11vh #fff,
    70vw 55vh #fff, 36vw 15vh #fff, 37vw 48vh #fff, 46vw 60vh #fff,
    37vw 42vh #fff, 73vw 41vh #fff, 14vw 36vh #fff, 76vw 28vh #fff,
    60vw 73vh #fff, 100vw 89vh #fff, 36vw 7vh #fff, 17vw 32vh #fff,
    75vw 28vh #fff, 22vw 82vh #fff, 36vw 27vh #fff, 35vw 1vh #fff,
    74vw 51vh #fff, 24vw 18vh #fff, 12vw 21vh #fff, 93vw 40vh #fff,
    22vw 17vh #fff, 5vw 17vh #fff, 75vw 30vh #fff, 43vw 37vh #fff, 4vw 55vh #fff,
    73vw 43vh #fff, 1vw 46vh #fff, 17vw 67vh #fff, 65vw 46vh #fff,
    78vw 70vh #fff, 27vw 82vh #fff, 46vw 74vh #fff, 58vw 69vh #fff,
    2vw 18vh #fff, 94vw 24vh #fff, 78vw 36vh #fff, 7vw 57vh #fff, 88vw 45vh #fff,
    67vw 19vh #fff, 84vw 21vh #fff, 94vw 13vh #fff, 3vw 89vh #fff, 42vw 1vh #fff,
    19vw 35vh #fff, 15vw 59vh #fff, 96vw 84vh #fff, 74vw 50vh #fff,
    76vw 47vh #fff, 14vw 65vh #fff, 23vw 47vh #fff, 52vw 93vh #fff,
    29vw 6vh #fff, 73vw 48vh #fff, 34vw 84vh #fff, 50vw 11vh #fff,
    70vw 43vh #fff, 54vw 16vh #fff, 81vw 86vh #fff, 82vw 11vh #fff,
    61vw 67vh #fff, 90vw 44vh #fff, 56vw 58vh #fff, 84vw 35vh #fff,
    73vw 55vh #fff, 28vw 11vh #fff, 51vw 52vh #fff, 24vw 59vh #fff,
    22vw 66vh #fff, 36vw 33vh #fff, 42vw 46vh #fff, 27vw 57vh #fff,
    23vw 42vh #fff, 76vw 25vh #fff, 59vw 31vh #fff, 83vw 43vh #fff,
    73vw 48vh #fff, 75vw 47vh #fff, 64vw 48vh #fff, 31vw 51vh #fff,
    47vw 93vh #fff, 96vw 51vh #fff, 89vw 86vh #fff, 12vw 96vh #fff,
    62vw 69vh #fff, 61vw 19vh #fff, 4vw 7vh #fff, 56vw 66vh #fff,
    10vw 100vh #fff, 39vw 80vh #fff, 66vw 93vh #fff, 64vw 51vh #fff,
    39vw 56vh #fff, 74vw 34vh #fff, 34vw 11vh #fff, 52vw 97vh #fff,
    56vw 92vh #fff, 80vw 6vh #fff, 39vw 74vh #fff, 17vw 89vh #fff,
    37vw 73vh #fff, 60vw 32vh #fff, 60vw 94vh #fff, 4vw 24vh #fff,
    64vw 79vh #fff, 97vw 3vh #fff, 47vw 88vh #fff, 49vw 75vh #fff,
    52vw 62vh #fff, 39vw 5vh #fff, 80vw 12vh #fff, 51vw 68vh #fff,
    98vw 32vh #fff, 55vw 27vh #fff, 94vw 74vh #fff, 95vw 84vh #fff,
    42vw 10vh #fff, 45vw 64vh #fff, 92vw 7vh #fff, 58vw 60vh #fff, 6vw 28vh #fff,
    10vw 46vh #fff, 56vw 60vh #fff, 46vw 43vh #fff, 59vw 9vh #fff,
    29vw 97vh #fff, 52vw 78vh #fff, 70vw 79vh #fff, 92vw 69vh #fff,
    10vw 66vh #fff, 24vw 73vh #fff, 60vw 86vh #fff, 93vw 1vh #fff,
    40vw 69vh #fff, 15vw 35vh #fff, 34vw 34vh #fff, 89vw 55vh #fff,
    19vw 65vh #fff, 14vw 18vh #fff, 58vw 67vh #fff, 28vw 53vh #fff,
    2vw 72vh #fff, 47vw 91vh #fff, 71vw 49vh #fff, 4vw 81vh #fff, 10vw 69vh #fff,
    39vw 80vh #fff, 35vw 86vh #fff, 3vw 98vh #fff, 79vw 22vh #fff,
    44vw 73vh #fff, 59vw 88vh #fff, 78vw 51vh #fff, 37vw 80vh #fff,
    91vw 18vh #fff, 4vw 52vh #fff, 61vw 53vh #fff, 6vw 2vh #fff, 63vw 15vh #fff,
    18vw 2vh #fff, 59vw 100vh #fff, 17vw 73vh #fff, 80vw 72vh #fff,
    37vw 67vh #fff, 75vw 85vh #fff, 100vw 4vh #fff, 57vw 72vh #fff,
    44vw 61vh #fff, 57vw 3vh #fff, 89vw 96vh #fff, 29vw 39vh #fff,
    97vw 84vh #fff, 36vw 51vh #fff, 47vw 1vh #fff, 25vw 61vh #fff,
    100vw 74vh #fff, 57vw 81vh #fff, 100vw 79vh #fff, 11vw 53vh #fff,
    100vw 38vh #fff, 64vw 10vh #fff, 75vw 46vh #fff, 24vw 98vh #fff,
    57vw 88vh #fff, 99vw 1vh #fff, 14vw 59vh #fff, 81vw 44vh #fff,
    34vw 47vh #fff, 10vw 15vh #fff, 56vw 82vh #fff, 98vw 59vh #fff,
    13vw 87vh #fff, 74vw 100vh #fff, 17vw 62vh #fff, 31vw 54vh #fff,
    9vw 16vh #fff, 55vw 82vh #fff, 63vw 89vh #fff, 22vw 48vh #fff,
    18vw 18vh #fff, 29vw 87vh #fff, 43vw 6vh #fff, 21vw 72vh #fff, 97vw 3vh #fff,
    16vw 82vh #fff, 35vw 93vh #fff, 76vw 53vh #fff, 87vw 78vh #fff,
    62vw 56vh #fff, 62vw 89vh #fff, 67vw 6vh #fff, 97vw 49vh #fff,
    70vw 49vh #fff, 26vw 71vh #fff, 60vw 97vh #fff, 100vw 89vh #fff,
    19vw 2vh #fff, 19vw 31vh #fff, 72vw 84vh #fff, 78vw 45vh #fff,
    87vw 11vh #fff, 17vw 42vh #fff, 5vw 27vh #fff, 96vw 52vh #fff,
    99vw 23vh #fff, 50vw 94vh #fff, 68vw 63vh #fff, 27vw 64vh #fff,
    78vw 36vh #fff, 75vw 7vh #fff, 1vw 32vh #fff, 2vw 81vh #fff, 64vw 54vh #fff,
    76vw 1vh #fff, 97vw 88vh #fff, 7vw 15vh #fff, 8vw 77vh #fff, 34vw 12vh #fff,
    16vw 24vh #fff, 55vw 43vh #fff, 100vw 41vh #fff, 9vw 13vh #fff,
    31vw 29vh #fff, 72vw 41vh #fff, 45vw 34vh #fff, 19vw 1vh #fff,
    46vw 13vh #fff, 95vw 4vh #fff, 88vw 43vh #fff, 63vw 76vh #fff,
    87vw 99vh #fff, 6vw 6vh #fff, 16vw 84vh #fff, 16vw 37vh #fff,
    50vw 100vh #fff, 25vw 90vh #fff, 56vw 3vh #fff, 82vw 48vh #fff,
    41vw 33vh #fff, 84vw 97vh #fff, 2vw 61vh #fff, 90vw 89vh #fff,
    11vw 71vh #fff, 58vw 11vh #fff, 71vw 96vh #fff, 45vw 29vh #fff,
    29vw 86vh #fff, 47vw 84vh #fff, 82vw 93vh #fff, 89vw 64vh #fff,
    22vw 81vh #fff, 60vw 36vh #fff, 84vw 12vh #fff, 78vw 94vh #fff,
    17vw 66vh #fff, 46vw 22vh #fff, 47vw 42vh #fff, 86vw 71vh #fff,
    19vw 25vh #fff, 91vw 16vh #fff, 53vw 2vh #fff, 8vw 9vh #fff, 96vw 12vh #fff,
    42vw 52vh #fff, 93vw 22vh #fff, 79vw 46vh #fff, 25vw 26vh #fff,
    1vw 88vh #fff, 9vw 100vh #fff, 24vw 14vh #fff, 17vw 9vh #fff, 25vw 84vh #fff,
    62vw 85vh #fff, 78vw 72vh #fff, 31vw 92vh #fff, 22vw 31vh #fff,
    95vw 17vh #fff, 79vw 16vh #fff, 44vw 67vh #fff, 86vw 93vh #fff,
    20vw 47vh #fff, 52vw 17vh #fff, 100vw 71vh #fff, 11vw 21vh #fff,
    28vw 14vh #fff, 43vw 75vh #fff, 93vw 75vh #fff, 29vw 3vh #fff,
    66vw 20vh #fff, 30vw 22vh #fff, 42vw 91vh #fff, 52vw 24vh #fff,
    52vw 45vh #fff, 69vw 94vh #fff, 8vw 7vh #fff, 54vw 95vh #fff, 89vw 58vh #fff,
    98vw 91vh #fff, 96vw 52vh #fff, 73vw 90vh #fff, 71vw 9vh #fff,
    52vw 76vh #fff, 29vw 14vh #fff, 12vw 93vh #fff, 23vw 8vh #fff,
    76vw 13vh #fff, 28vw 20vh #fff, 11vw 2vh #fff, 50vw 56vh #fff,
    39vw 83vh #fff, 9vw 30vh #fff, 33vw 43vh #fff, 98vw 73vh #fff,
    53vw 94vh #fff, 21vw 10vh #fff, 25vw 75vh #fff, 78vw 23vh #fff,
    96vw 60vh #fff, 63vw 42vh #fff, 55vw 52vh #fff, 54vw 5vh #fff, 17vw 9vh #fff,
    2vw 38vh #fff, 40vw 7vh #fff, 52vw 38vh #fff, 30vw 34vh #fff, 57vw 81vh #fff,
    1vw 65vh #fff, 54vw 40vh #fff, 89vw 51vh #fff, 69vw 25vh #fff,
    76vw 51vh #fff, 71vw 33vh #fff, 21vw 77vh #fff, 94vw 29vh #fff,
    60vw 8vh #fff, 73vw 90vh #fff, 36vw 42vh #fff, 21vw 22vh #fff, 50vw 4vh #fff,
    17vw 26vh #fff, 44vw 36vh #fff, 9vw 53vh #fff, 49vw 30vh #fff, 1vw 8vh #fff,
    26vw 59vh #fff, 25vw 36vh #fff, 28vw 48vh #fff, 39vw 22vh #fff,
    76vw 83vh #fff, 85vw 25vh #fff, 26vw 72vh #fff, 90vw 72vh #fff,
    83vw 54vh #fff, 89vw 76vh #fff, 54vw 9vh #fff, 35vw 55vh #fff,
    28vw 81vh #fff, 32vw 58vh #fff, 27vw 45vh #fff, 80vw 41vh #fff,
    27vw 71vh #fff, 37vw 37vh #fff, 38vw 63vh #fff, 47vw 81vh #fff,
    53vw 36vh #fff, 30vw 81vh #fff, 14vw 87vh #fff, 22vw 43vh #fff,
    31vw 40vh #fff, 79vw 79vh #fff, 40vw 25vh #fff, 97vw 68vh #fff,
    96vw 69vh #fff, 16vw 62vh #fff, 1vw 82vh #fff, 33vw 91vh #fff,
    53vw 72vh #fff, 44vw 71vh #fff, 21vw 14vh #fff, 18vw 96vh #fff,
    13vw 45vh #fff, 69vw 83vh #fff, 76vw 62vh #fff, 93vw 62vh #fff,
    59vw 2vh #fff, 73vw 90vh #fff, 16vw 53vh #fff, 24vw 78vh #fff,
    68vw 59vh #fff, 34vw 56vh #fff, 14vw 72vh #fff, 50vw 93vh #fff,
    13vw 49vh #fff, 72vw 82vh #fff, 50vw 97vh #fff, 26vw 88vh #fff,
    88vw 52vh #fff, 83vw 16vh #fff, 82vw 80vh #fff, 88vw 65vh #fff,
    100vw 85vh #fff, 46vw 71vh #fff, 9vw 3vh #fff, 5vw 22vh #fff, 35vw 37vh #fff,
    8vw 13vh #fff, 51vw 25vh #fff, 74vw 10vh #fff, 7vw 37vh #fff, 23vw 71vh #fff,
    97vw 39vh #fff, 9vw 5vh #fff, 72vw 14vh #fff, 76vw 90vh #fff, 16vw 69vh #fff,
    47vw 92vh #fff, 4vw 19vh #fff, 58vw 40vh #fff, 20vw 86vh #fff,
    24vw 86vh #fff, 26vw 96vh #fff, 60vw 72vh #fff, 45vw 58vh #fff,
    77vw 81vh #fff, 64vw 42vh #fff, 25vw 46vh #fff, 62vw 24vh #fff,
    59vw 99vh #fff, 5vw 73vh #fff, 21vw 48vh #fff, 52vw 95vh #fff,
    26vw 66vh #fff, 29vw 15vh #fff, 57vw 77vh #fff, 94vw 19vh #fff,
    22vw 85vh #fff, 85vw 63vh #fff, 43vw 95vh #fff, 16vw 42vh #fff,
    99vw 72vh #fff, 2vw 100vh #fff, 65vw 45vh #fff, 55vw 49vh #fff,
    53vw 16vh #fff, 20vw 84vh #fff, 5vw 3vh #fff, 5vw 29vh #fff, 32vw 13vh #fff,
    24vw 67vh #fff, 77vw 11vh #fff, 19vw 21vh #fff, 90vw 34vh #fff,
    15vw 50vh #fff, 40vw 43vh #fff, 85vw 41vh #fff, 12vw 95vh #fff,
    65vw 6vh #fff, 75vw 25vh #fff, 85vw 33vh #fff, 19vw 29vh #fff,
    54vw 83vh #fff, 99vw 86vh #fff, 12vw 16vh #fff, 11vw 17vh #fff,
    100vw 63vh #fff, 39vw 7vh #fff, 44vw 29vh #fff, 88vw 81vh #fff,
    37vw 76vh #fff, 87vw 42vh #fff, 61vw 5vh #fff, 65vw 99vh #fff,
    94vw 22vh #fff, 73vw 23vh #fff, 58vw 14vh #fff, 4vw 39vh #fff, 9vw 22vh #fff,
    18vw 76vh #fff, 54vw 43vh #fff, 10vw 46vh #fff, 42vw 39vh #fff,
    30vw 21vh #fff, 26vw 50vh #fff, 57vw 47vh #fff, 65vw 79vh #fff,
    80vw 44vh #fff, 82vw 13vh #fff, 1vw 11vh #fff, 53vw 93vh #fff,
    86vw 34vh #fff, 81vw 28vh #fff, 30vw 2vh #fff, 75vw 6vh #fff, 66vw 60vh #fff,
    16vw 72vh #fff, 96vw 45vh #fff, 30vw 23vh #fff, 78vw 65vh #fff,
    12vw 70vh #fff, 19vw 68vh #fff, 18vw 69vh #fff, 33vw 43vh #fff,
    2vw 10vh #fff, 83vw 24vh #fff, 27vw 46vh #fff, 93vw 78vh #fff,
    65vw 65vh #fff, 98vw 21vh #fff, 83vw 94vh #fff, 41vw 74vh #fff,
    81vw 27vh #fff, 5vw 80vh #fff, 7vw 89vh #fff, 91vw 33vh #fff, 86vw 57vh #fff,
    36vw 38vh #fff, 75vw 13vh #fff, 85vw 51vh #fff, 100vw 14vh #fff,
    93vw 68vh #fff, 91vw 39vh #fff, 92vw 99vh #fff, 53vw 95vh #fff,
    53vw 68vh #fff, 2vw 54vh #fff, 55vw 70vh #fff, 64vw 45vh #fff,
    87vw 75vh #fff, 56vw 31vh #fff, 70vw 90vh #fff, 27vw 46vh #fff,
    57vw 66vh #fff, 67vw 30vh #fff, 31vw 73vh #fff, 33vw 85vh #fff,
    65vw 98vh #fff, 49vw 46vh #fff, 96vw 62vh #fff, 89vw 10vh #fff,
    22vw 73vh #fff, 53vw 6vh #fff, 52vw 46vh #fff, 62vw 17vh #fff,
    95vw 14vh #fff, 31vw 75vh #fff, 36vw 24vh #fff, 32vw 96vh #fff,
    99vw 76vh #fff, 85vw 35vh #fff, 15vw 15vh #fff, 11vw 96vh #fff,
    21vw 87vh #fff, 74vw 36vh #fff, 48vw 94vh #fff, 38vw 9vh #fff,
    60vw 79vh #fff, 41vw 2vh #fff, 33vw 27vh #fff, 11vw 32vh #fff, 60vw 1vh #fff,
    55vw 95vh #fff, 17vw 15vh #fff, 100vw 21vh #fff, 17vw 63vh #fff,
    8vw 9vh #fff, 86vw 52vh #fff, 41vw 11vh #fff, 59vw 13vh #fff, 56vw 23vh #fff,
    93vw 46vh #fff, 34vw 11vh #fff, 53vw 63vh #fff, 69vw 33vh #fff,
    56vw 43vh #fff, 69vw 5vh #fff, 35vw 97vh #fff, 49vw 64vh #fff,
    49vw 98vh #fff, 40vw 74vh #fff, 84vw 48vh #fff, 72vw 11vh #fff,
    40vw 20vh #fff, 82vw 59vh #fff, 41vw 54vh #fff, 31vw 42vh #fff,
    8vw 38vh #fff, 26vw 82vh #fff, 79vw 40vh #fff, 59vw 67vh #fff,
    98vw 73vh #fff, 13vw 38vh #fff, 88vw 28vh #fff, 54vw 92vh #fff,
    40vw 47vh #fff, 17vw 75vh #fff, 92vw 84vh #fff, 98vw 55vh #fff,
    12vw 27vh #fff, 48vw 92vh #fff, 50vw 57vh #fff, 91vw 91vh #fff,
    56vw 64vh #fff, 78vw 17vh #fff, 94vw 87vh #fff, 55vw 7vh #fff,
    100vw 52vh #fff, 55vw 19vh #fff, 60vw 91vh #fff, 39vw 45vh #fff,
    73vw 26vh #fff, 2vw 60vh #fff, 68vw 15vh #fff, 81vw 96vh #fff,
    58vw 71vh #fff, 64vw 37vh #fff, 14vw 93vh #fff, 72vw 30vh #fff,
    34vw 41vh #fff, 37vw 80vh #fff, 17vw 95vh #fff, 24vw 57vh #fff,
    44vw 43vh #fff, 86vw 12vh #fff, 15vw 32vh #fff, 76vw 45vh #fff,
    1vw 74vh #fff, 13vw 88vh #fff, 92vw 37vh #fff, 1vw 68vh #fff, 52vw 85vh #fff,
    30vw 77vh #fff, 10vw 59vh #fff, 40vw 24vh #fff, 64vw 1vh #fff, 58vw 9vh #fff,
    72vw 97vh #fff, 32vw 37vh #fff, 40vw 33vh #fff, 97vw 82vh #fff,
    19vw 73vh #fff, 33vw 5vh #fff, 53vw 7vh #fff, 92vw 85vh #fff, 53vw 33vh #fff,
    70vw 2vh #fff, 91vw 36vh #fff, 37vw 69vh #fff, 3vw 23vh #fff, 18vw 87vh #fff,
    83vw 95vh #fff, 96vw 57vh #fff, 65vw 22vh #fff, 67vw 26vh #fff,
    48vw 88vh #fff, 11vw 49vh #fff, 27vw 33vh #fff, 19vw 52vh #fff,
    4vw 75vh #fff, 81vw 44vh #fff, 51vw 64vh #fff, 11vw 91vh #fff,
    85vw 55vh #fff, 94vw 48vh #fff, 19vw 19vh #fff, 32vw 63vh #fff,
    12vw 98vh #fff, 75vw 81vh #fff, 100vw 5vh #fff, 18vw 69vh #fff,
    67vw 80vh #fff, 75vw 44vh #fff, 73vw 6vh #fff, 16vw 73vh #fff, 44vw 9vh #fff,
    73vw 33vh #fff, 70vw 45vh #fff, 91vw 94vh #fff, 91vw 93vh #fff,
    65vw 38vh #fff, 68vw 8vh #fff, 91vw 36vh #fff, 64vw 75vh #fff,
    47vw 10vh #fff, 95vw 34vh #fff, 10vw 80vh #fff, 53vw 59vh #fff,
    99vw 12vh #fff, 85vw 33vh #fff, 4vw 27vh #fff, 37vw 91vh #fff,
    82vw 15vh #fff, 11vw 4vh #fff, 27vw 87vh #fff, 54vw 60vh #fff,
    79vw 21vh #fff, 27vw 77vh #fff, 31vw 59vh #fff, 15vw 20vh #fff,
    82vw 34vh #fff, 55vw 97vh #fff, 17vw 49vh #fff, 85vw 3vh #fff,
    55vw 57vh #fff, 47vw 85vh #fff, 67vw 96vh #fff, 38vw 67vh #fff,
    29vw 16vh #fff, 85vw 39vh #fff, 94vw 36vh #fff, 100vw 12vh #fff,
    17vw 89vh #fff, 98vw 81vh #fff, 84vw 45vh #fff, 40vw 26vh #fff,
    19vw 5vh #fff, 36vw 43vh #fff, 96vw 61vh #fff, 51vw 3vh #fff, 22vw 71vh #fff,
    53vw 26vh #fff, 17vw 87vh #fff, 34vw 86vh #fff, 45vw 24vh #fff,
    50vw 74vh #fff, 59vw 3vh #fff, 9vw 75vh #fff, 10vw 62vh #fff, 42vw 76vh #fff,
    48vw 13vh #fff, 69vw 100vh #fff, 51vw 94vh #fff, 59vw 30vh #fff,
    9vw 82vh #fff, 97vw 69vh #fff, 97vw 46vh #fff, 63vw 73vh #fff, 8vw 94vh #fff,
    7vw 8vh #fff, 9vw 78vh #fff, 97vw 13vh #fff, 14vw 94vh #fff, 71vw 49vh #fff,
    54vw 27vh #fff, 1vw 32vh #fff, 42vw 37vh #fff, 21vw 46vh #fff, 95vw 9vh #fff,
    34vw 16vh #fff, 52vw 89vh #fff, 52vw 94vh #fff, 42vw 55vh #fff,
    40vw 95vh #fff, 35vw 33vh #fff, 42vw 45vh #fff, 20vw 84vh #fff,
    17vw 26vh #fff, 11vw 7vh #fff, 29vw 79vh #fff, 100vw 13vh #fff,
    51vw 53vh #fff, 53vw 82vh #fff, 36vw 49vh #fff, 25vw 50vh #fff,
    1vw 31vh #fff, 81vw 8vh #fff, 75vw 25vh #fff, 79vw 88vh #fff, 92vw 50vh #fff,
    31vw 61vh #fff, 93vw 29vh #fff, 8vw 40vh #fff, 33vw 18vh #fff,
    79vw 10vh #fff, 100vw 90vh #fff, 44vw 35vh #fff, 41vw 76vh #fff,
    55vw 25vh #fff, 56vw 68vh #fff, 79vw 71vh #fff, 90vw 8vh #fff,
    19vw 59vh #fff, 79vw 75vh #fff, 32vw 56vh #fff, 91vw 26vh #fff,
    63vw 64vh #fff, 35vw 97vh #fff, 74vw 26vh #fff, 86vw 66vh #fff,
    33vw 51vh #fff, 23vw 28vh #fff, 76vw 40vh #fff, 22vw 42vh #fff,
    62vw 66vh #fff, 98vw 62vh #fff, 100vw 93vh #fff, 77vw 31vh #fff,
    7vw 82vh #fff, 84vw 70vh #fff, 26vw 70vh #fff, 60vw 16vh #fff,
    54vw 77vh #fff, 27vw 24vh #fff, 73vw 16vh #fff, 88vw 52vh #fff,
    76vw 43vh #fff, 34vw 98vh #fff, 16vw 7vh #fff, 37vw 7vh #fff, 18vw 95vh #fff,
    91vw 74vh #fff, 92vw 11vh #fff, 41vw 3vh #fff, 62vw 61vh #fff,
    54vw 87vh #fff, 98vw 43vh #fff, 68vw 24vh #fff, 35vw 67vh #fff,
    72vw 21vh #fff, 22vw 81vh #fff, 63vw 45vh #fff, 19vw 39vh #fff,
    24vw 54vh #fff, 14vw 48vh #fff, 92vw 43vh #fff, 56vw 94vh #fff,
    75vw 47vh #fff, 100vw 15vh #fff, 25vw 25vh #fff, 95vw 47vh #fff,
    15vw 50vh #fff, 77vw 68vh #fff, 76vw 53vh #fff, 94vw 48vh #fff, 2vw 1vh #fff,
    49vw 77vh #fff, 75vw 70vh #fff, 68vw 11vh #fff;
  animation: moveUp 90s linear infinite;
}

.layer3::after {
  content: "";
  position: fixed;
  left: 0;
  top: 100vh;
  width: 3px;
  height: 3px;
  border-radius: inherit;
  box-shadow: inherit;
}

@keyframes moveUp {
  100% {
    transform: translateY(-100vh);
  }
}

/*# sourceMappingURL=BS.css.map */
