.PI {
  font-size: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 20px;
  left: 20px;
  width: var(--PI-unification-width);
  height: 96vh;
  margin: 3px;
  background: var(--unification-background-color);
  border-radius: var(--unification-radius);
  max-width: 340px;
}

.introduce {
  opacity: 1;
  text-align: center;
  width: calc(var(--PI-unification-width) - 40px);
  border: solid 3px #111;
  border-radius: var(--unification-font-radius);
  position: absolute;
  top: 120px;
  transition: 0.5s;
}

.introduce.ic {
  opacity: 0;
  z-index: -2;
}

.function {
  position: fixed;
  display: flex;
  top: 250px;
  left: 25px;
  border: #111 solid 1px;
}

.Simple{
  display: inline;
  position: fixed;
}

.shell {
  width: 280px;
  height: 100px;
  position: relative;
  left: 48%;
  top: 60px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #fafafa;
  animation: show-shell 0.5s forwards ease-in-out;
}

@keyframes show-shell {
  0% {
    width: 0;
  }
}

.photo,
.content {
  box-sizing: border-box;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fafafa;
  background-color: #fafafa;
  margin-left: -50px;
  /* box-shadow: 0 0 0.5rem #babbbc; */
  animation: rotate-photo 0.5s forwards ease-in-out;
}

@keyframes rotate-photo {
  100% {
    transform: rotate(-360deg);
  }
}

.photo img {
  width: 100%;
}

.content {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content::before {
  content: "";
  position: absolute;
  width: 230px;
  height: 150px;
  left: 0;
  top: -20px;
  z-index: -1;
  transform: rotate(-8deg);
  background-image: linear-gradient(to top, #6866ee 0%, #fbc8d4 100%);
}

.content .text {
  margin-top: 20px;
  margin-left: 50px;
}

.content .text h3,
.content .text h6 {
  font-weight: normal;
  margin: 3px 0;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.content .btn {
  background-color: rgb(106, 106, 245);
  width: 50px;
  height: 50px;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.3s;
  animation: pop-btn 0.3s both ease-in-out 0.5s;
}

@keyframes pop-btn {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.content .btn:hover {
  box-shadow: 0 0 0 5px rgba(170, 187, 204, 0.5);
}

.content .btn span {
  width: 60%;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  animation: to-hamburger 0.3s forwards ease-in-out;
}

.content .btn span::before,
.content .btn span::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: white;
  transition-duration: 0.3s;
  transform: rotate(0deg);
  right: 0;
}

.content .btn span::before {
  margin-top: -7px;
}

.content .btn span::after {
  margin-top: 7px;
}

.content .btn.active span {
  animation: to-arrow 0.3s forwards ease-in-out;
}

.content .btn.active span::before,
.content .btn.active span::after {
  width: 60%;
  right: -1px;
}

.content .btn.active span::before {
  transform: rotate(45deg);
}

.content .btn.active span::after {
  transform: rotate(-45deg);
}

@keyframes to-hamburger {
  from {
    transform: translateY(-50%) rotate(-180deg);
  }
}

@keyframes to-arrow {
  from {
    transform: translateY(-50%) rotate(0deg);
  }

  to {
    transform: translateY(-50%) rotate(180deg);
  }
}

.box {
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  right: -30%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
  box-shadow: 0 0 10px #fff;
  border: 5px #fff solid;
}

.box::after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  background-image: url(../img.gif);
  background-size: cover;
  opacity: 0.7;
  border-radius: 50%;
}

.box i {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ececec;
  font-size: 26px;
  text-align: center;
  line-height: 60px;
  position: absolute;
  left: 18px;
  top: calc(60px - 50px / 2);
  box-shadow: 0 0 10px #fff;
  color: rgb(106, 106, 245);
  background-color: #fff;
  transition-duration: 0.3s;
}

.box i:hover {
  transition-delay: initial !important;
  box-shadow: 0 0 0 5px #babbbc;
  background-color: rgb(106, 106, 245);
  color: #fff;
}

.box.open {
  opacity: 1;
}

.box.open i {
  left: 20px;
  opacity: 1;
}

.box.open i:nth-of-type(1) {
  transform: translateX(var(--box-translateX)) translateY(var(--box-unification-translateY));
  transition-delay: 0s;
}

.box.open i:nth-of-type(2) {
  transform: translateX(calc(var(--box-translateX) + 65px)) translateY(var(--box-unification-translateY));
  transition-delay: 0.1s;
}

.box.open i:nth-of-type(3) {
  transform: translateX(calc(var(--box-translateX) + 65px*2)) translateY(var(--box-unification-translateY));
  transition-delay: 0.2s;
}

.box.open i:nth-of-type(4) {
  transform: translateX(calc(var(--box-translateX) + 65px*3)) translateY(var(--box-unification-translateY));
  transition-delay: 0.3s;
}

.box.open i:nth-of-type(5) {
  transform: translateX(calc(var(--box-translateX) + 65px*4)) translateY(var(--box-unification-translateY));
  transition-delay: 0.4s;
}