@import url(./CSS/PI.css);
@import url(./CSS/BS.css);
@import url(./CSS/MENU.css);
@import url(./CSS/BLOG.css);
@import url(//at.alicdn.com/t/c/font_4307481_6f45iuv4s6.css);

:root {
  --unification-div-radius: 10px;
  --unification-background-color: #19191926;
  --unification-background-div-color: #11111150;
  --unification-font-color: #fff;
  --unification-radius: 20px;
  --unification-font-radius: 10px;
  --PI-unification-width: 350px;
  --box-unification-translateY: 90px;
  --box-translateX: -240px;
  --PI-menu-width: 334px;
}

* {
  padding: 0;
  margin: 0;
  color: var(--unification-font-color);
}

body {
  color: var(--unification-font-color);
  background-color: #777;
  display: inline-flex;
}